version: '3.8'

services:
  # -------------------------------------------------------------------------
  # CORE INFRASTRUCTURE (ZooKeeper & Kafka)
  # -------------------------------------------------------------------------
  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - telescope-net

  kafka:
    image: confluentinc/cp-kafka:7.3.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - telescope-net

  #  INFRASTRUCTURE AS CODE: AUTOMATIC PARTITION CREATION
  # This temporary container runs once to create the 3 partitions for you.
  kafka-setup:
    image: confluentinc/cp-kafka:7.3.0
    depends_on:
      - kafka
    command: >
      bash -c "echo 'Waiting for Kafka to be ready...' &&
      cub kafka-ready -b kafka:29092 1 20 &&
      kafka-topics --create --topic telescope-logs --partitions 3 --replication-factor 1 --if-not-exists --bootstrap-server kafka:29092 &&
      echo ' Topic telescope-logs created with 3 partitions!'"
    networks:
      - telescope-net

  # -------------------------------------------------------------------------
  # SHARD 1 (Partition 0)
  # -------------------------------------------------------------------------
  postgres-1:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: ${DB_USER:-user}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-password}
      POSTGRES_DB: telescope
    volumes:
      - pgdata-1:/var/lib/postgresql/data
      - ./internal/migrations/000001_init_schema.up.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - telescope-net

  storage-1:
    build:
      context: .
      dockerfile: ./internal/shared/Docker/Dockerfile.storage
    depends_on:
      - kafka
      - postgres-1
    environment:
      DB_URL: "postgres://${DB_USER:-user}:${DB_PASSWORD:-password}@postgres-1:5432/telescope"
      KAFKA_BROKERS: "kafka:29092"
      KAFKA_TOPIC: "telescope-logs"
      KAFKA_GROUP_ID: "telescope-storage-group" # Shared Group ID = Load Balancing
      GRPC_PORT: ":9001"
    ports:
      - "9001:9001" # External access
    networks:
      - telescope-net
    restart: always

  # -------------------------------------------------------------------------
  # SHARD 2 (Partition 1)
  # -------------------------------------------------------------------------
  postgres-2:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: ${DB_USER:-user}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-password}
      POSTGRES_DB: telescope
    volumes:
      - pgdata-2:/var/lib/postgresql/data
      - ./internal/migrations/000001_init_schema.up.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - telescope-net

  storage-2:
    build:
      context: .
      dockerfile: ./internal/shared/Docker/Dockerfile.storage
    depends_on:
      - kafka
      - postgres-2
    environment:
      DB_URL: "postgres://${DB_USER:-user}:${DB_PASSWORD:-password}@postgres-2:5432/telescope"
      KAFKA_BROKERS: "kafka:29092"
      KAFKA_TOPIC: "telescope-logs"
      KAFKA_GROUP_ID: "telescope-storage-group"
      GRPC_PORT: ":9002"
    ports:
      - "9002:9002"
    networks:
      - telescope-net
    restart: always

  # -------------------------------------------------------------------------
  # SHARD 3 (Partition 2)
  # -------------------------------------------------------------------------
  postgres-3:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: ${DB_USER:-user}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-password}
      POSTGRES_DB: telescope
    volumes:
      - pgdata-3:/var/lib/postgresql/data
      - ./internal/migrations/000001_init_schema.up.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - telescope-net

  storage-3:
    build:
      context: .
      dockerfile: ./internal/shared/Docker/Dockerfile.storage
    depends_on:
      - kafka
      - postgres-3
    environment:
      DB_URL: "postgres://${DB_USER:-user}:${DB_PASSWORD:-password}@postgres-3:5432/telescope"
      KAFKA_BROKERS: "kafka:29092"
      KAFKA_TOPIC: "telescope-logs"
      KAFKA_GROUP_ID: "telescope-storage-group"
      GRPC_PORT: ":9003"
    ports:
      - "9003:9003"
    networks:
      - telescope-net
    restart: always

  # -------------------------------------------------------------------------
  # GATEWAY (Search API)
  # -------------------------------------------------------------------------
  search-api:
    build:
      context: .
      dockerfile: ./internal/shared/Docker/Dockerfile.search
    depends_on:
      - storage-1
      - storage-2
      - storage-3
    environment:
      HTTP_PORT: ":8080"
      #  CONNECT TO ALL 3 SHARDS
      STORAGE_NODES: "storage-1:9001,storage-2:9002,storage-3:9003"
    ports:
      - "8080:8080"
    networks:
      - telescope-net
    restart: on-failure

  # -------------------------------------------------------------------------
  # UTILS
  # -------------------------------------------------------------------------
  producer:
    build:
      context: .
      dockerfile: ./internal/shared/Docker/Dockerfile.producer
    depends_on:
      - kafka
    environment:
      KAFKA_BROKERS: "kafka:29092"
      KAFKA_TOPIC: "telescope-logs"
    networks:
      - telescope-net

volumes:
  pgdata-1:
  pgdata-2:
  pgdata-3:

networks:
  telescope-net:
    driver: bridge